:root {
    --primary-color: orange;
    --secondary-color: #01ACFD;
    --primary-button-color: black;
    --primary-button-text-color: white;
    --primary-date-color: #95B226;
    --secondary-date-color: #5D58F0;
    --width: 16px;
}

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0px 0px;
}

body main {
    padding-bottom: 2em;
    /* background: linear-gradient(to top, #e6cea4 0%, #FFFFFF 45%), url('assets/bg.png');
    background-size: cover;  */
    background: linear-gradient(transparent, #e6cea4), url("assets/bg.png") repeat-y top left, #fff;
    background-size: auto;
}

/* header content */
header nav {
    border: var(--primary-color) solid 1px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 0px 0px;
}

.menu-button {
    display: block;
    width: 2em;
}
.line hr {
    width: 100%;
    height: 2px;
    background-color: #000000
}

.banner {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 1em;
    margin: 1em 0;
    justify-items: center;
    align-items: center;
}

.banner-img {
    grid-row: 1;
}

.banner-img img {
    width: 100%;
}

.banner-content {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-headline {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.banner-desc {
    text-align: center;
    font-size: 14px;
    font-weight: medium;
}

.desktop {
    display: none;
}

.banner-button {
    margin: 1em 0;
}

/* main content */
section {
    margin: 5em 0;
    /* background-image: url('assets/bg.png'); */
}

.prev-and-next {
    display: none;
}

.content-title {
    font-size: 16.6px;
    font-weight: bold;
}

.content-desc {
    font-size: 10.22px;
    font-weight: medium;
    line-height: 19.2px;
}

.read-more {
    font-size: 10.22px;
    font-weight: bold;
    line-height: 19.2px;
}

.yellow {
    color: #F0AA00;
}

.blue {
    color: #64C8FF;
}

.purple {
    color: #8700FF;
}

/* story content */
.story-container {
    margin: 1em 0;
}

.stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 1em;
    justify-items: center;
    column-gap: 1em;
    row-gap: 1em;
    /* border-radius: 15px; */
}

.story {
    background-color: white;
    border-radius: 15px;
}

.story .story-img {
    position: relative;
}

.story .story-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.story-date {
    position: absolute;
    background-color: var(--primary-date-color);
    color: white;
    border-radius: 15px;
    margin-top: -1.4em;
    margin-left: 1em;
    padding: 6px 24px;
    font-size: 10px;
    font-weight: medium;
}

.secondary-date-color {
    background-color: var(--secondary-date-color);
}

.poster-date-color {
    background-color: #3CD8E8;
}

.story-headline {
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border-radius: 15px;
    padding: 2em 2em;
}

/* footer content */
footer {
    background-color: var(--secondary-color);
    /* background-color: black; */
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    /* flex-wrap: wrap; */
    /* gap: 1em; */
    text-align: left;
    align-items: left;
    justify-items: left;
    padding: 1em var(--width);
}

.footer-nav ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    margin: 0 0;
    padding: 1rem;
    gap: 1em;
    font-size: 16.96px;
    font-weight: medium;
    line-height: auto;
}

footer .section-title {
    justify-items: left;
    align-items: left;
    text-align: left;
    padding: 0 1rem;
    margin: 0 0;
}

.intro {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1em 2em;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    padding: 0 0;
    margin: 0 0;
    gap: .2em;
}

.intro-img{
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    /* justify-content: left;
    align-items: left; */
}

.intro-name-first-part {
    grid-column: 2;
    grid-row: 1;
}

.intro-name-second-part {
    grid-column: 2;
    grid-row: 2;
}

.section-desc{
    font-size: 16px;
    font-weight: regular;
    line-height: auto;
    padding: 1rem;
    max-width: 1fr;
}

.contact-table {
    display: flex;
    margin: 0 var(--width);
    margin-top: 1em;
    margin-bottom: 15em;
    gap: 0.5em;
}
/* shared content */
.btn-primary {
    justify-content: center;
    background-color: var(--primary-button-color);
    color: var(--primary-button-text-color);
    border-radius: 5px;
    padding: 6px 24px;

}

.primary-color {
    color: var(--primary-color);
}

.sky-blue {
    color: skyblue;
}

.light-blue {
    color: #05D4DF;
}
    
.blue-purple {
    color: #5D58EF;
}
.secondary-color {
    color: var(--secondary-color);
}

.primary-color-bg{
    background-color: var(--primary-color);
}

.header-info-button {
    border-radius: 5px;
    border: 0px;
    padding: 10px 60px;
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: medium;
}

section {
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.section-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.section-content {
    margin: 0px var(--width);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.content-block {
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFFFFF 35%); 
    box-shadow: 0 0 5px #FFF4DC inset, 0 0 5px #FFF4DC inset;
    border-radius: 1em;
    padding: 36px 28px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.yellow-shadow {
    background: linear-gradient(to bottom, #FFF4DC 0%, #FFFFFF 35%); 
    box-shadow: 0 0 5px #FFF4DC inset, 0 0 5px #FFF4DC inset;
}

.blue-shadow {
    background: linear-gradient(to bottom, #DEF5FF 0%, #FFFFFF 35%); 
    box-shadow: 0 0 5px #DEF5FF inset, 0 0 5px #DEF5FF inset;
}

.purple-shadow {
    background: linear-gradient(to bottom, #F2E8FF 0%, #FFFFFF 35%); 
    box-shadow: 0 0 5px #F2E8FF inset, 0 0 5px #F2E8FF inset;
}

a {
    text-decoration: none;
    color: inherit;
}

.center {
    align-items: center;
    justify-items: center;
    justify-content: center;
}
/* desktop-view */
@media screen and (min-width: 992px) {
    /* header content */
    header {
        padding: 0 10em;
    }
    .prev-and-next {
        display: flex;
    }
    .desktop {
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile {
        display: none;
    }
    .desktop ul {
        list-style-type: none;
        justify-content: space-between;
    }
    header nav {
        border: 0;
        padding: 0 0;
    }
    .nav-list{
        font-size: 20px;
        line-height: 30px;
    }
    .nav-list ul {
        display: flex;
        flex-direction: row;
        padding: 0 0;
        gap: 3em;
    }
    .header-info {
        display: flex;
        font-size: 32px;
        font-weight: bold;
        line-height: 30px;
        align-items: center;
    }
    .banner{
        display: flex;
        flex-direction: row;
        justify-items: left;
        align-items: left;
        gap: 2em;
        justify-content: space-between;
        /* margin: 0 0;
        padding: 0 0; */
    }
    .banner-content {
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 50%;

    }
    .left {
        text-align: left;
        justify-content: left;
        justify-items: left;
        align-items: left;
    }
    .banner-headline {
        font-size: 56px;
    }
    .banner-desc {
        font-size: 20px;
    }
    .banner p{
        justify-items: left;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
    .banner-headline {
        text-align: left;
    }
    .banner p .banner-headline {
        line-height: 61px;
    }

    /* main content */
    main {
        padding: 0 10em;
    }
    .section-content {
        flex-direction: row;
    }
    .prev-and-next {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin: 1em 0;
        justify-items: center;
        justify-content: space-around;
        align-items: flex-end;
    }
    .prev, .next {
        background-color: var(--primary-color);
        color: white;
        border: 0;
        border-radius: 50%;
        height: 1em;
        width: 1em;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-size: 3em;
        font-weight: bold;
    }

    /* story content */
    .story-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .stories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .story-date {
        font-size: 16px;
        font-weight: medium;
    }
    .story-headline {
        font-size: 16px;
        font-weight: bold;
    }
    .story-desc {
        font-size: 16px;
        font-weight: medium;
        line-height: 28px;
        padding: 2em 2em;
        color: #666666;
    }
    .poster-headline {
        font-size: 24px;
        font-weight: bold;
    }
    .copy {
        display: none;
    }
    /* footer content */
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        padding: 5em 10em;
        justify-items: center;
        justify-content: center;
    }
}